*~
*.a
*.lo
*.o
*.pyc
*.so
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autotools-files/
build/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
ylwrap
src/stamp-h1
src/librlimit.la
test/01_io
test/02_timeout
test/03_notimeout
test/04_forbid_syscall
test/05_profile_sleep
test/06_profile_stack_alloc
test/07_profile_malloc
test/08_forbid_syscall_timeouted
test/09_ls_R
test/10_expect
test/11_expect_failed
test/utils/test_fork
test/utils/test_io
test/utils/test_malloc
test/utils/test_stack_alloc
