*~
*.a
*.lo
*.o
*.so
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autotools-files
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
ylwrap
src/stamp-h1
src/librlimit.la
test/01_stdout
